.navbar {
    background-color: lightgrey;
    color: black;
    padding: 24px;

    .link {
        color: grey;
        border: 2px solid grey;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;

        &:hover {
            color: white;
            background-color: grey;
        }
    }
}
